<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Cupcakes!</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-3">Cupcakes!</h1>
      <ul class="list-group my-5" id="cupcakes-list">
        <!-- <li class="list-group-item">Cras justo odio</li> -->
      </ul>
      <form id="add-cupcake-form">
        <h2>Add Cupcake</h2>
        <div class="form-group">
          <label for="flavor">Flavor</label>
          <input
            type="text"
            class="form-control"
            id="flavor"
            aria-describedby="flavor"
            placeholder="Chocolate"
          />
        </div>
        <div class="form-group">
          <label for="size">Size</label>
          <input type="text" class="form-control" id="size" placeholder="" />
        </div>
        <div class="form-group">
          <label for="rating">Rating</label>
          <input type="text" class="form-control" id="rating" placeholder="5" />
        </div>
        <div class="form-group">
          <label for="image">Image URL</label>
          <input type="url" class="form-control" id="image" placeholder="" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/api-class.js"></script>
    <script src="/static/ui.js"></script>
  </body>
</html>
